.container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 4rem;
  }
  
  .icone {
    width: 38px;
    height: auto;   
  }
  
  @media (max-width: 767px) {
    /* Estilos para tablets */
    .carrossel {
      scroll-snap-type: x mandatory;
      scroll-behavior: smooth;
      -webkit-overflow-scrolling: touch;
    }
  }
  