.container {
    padding: 1.5rem;
    width: 1290px;
    padding: 1.5rem;
    display: flex;
    margin: auto;
    justify-content: space-around;
    box-sizing: border-box;
}
.content {
    width: 1290px;
    display: flex;
    margin: auto;
    align-items: center;
    gap: 1rem;
    margin-left: 2rem;
    font-size: 11px;
}
.home {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.4rem;
}

@media (max-width: 599px){ 
    .container {
        width: 100%;
    }
    .content {
        margin: auto;
    }
    .content > span {
        margin-left: 0.5rem;
    }
}