.containerPreco {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    text-align: center;
}
.semDesconto {
    text-decoration: line-through;
}
.comDesconto {
    font-size: 30px;
    color: #AE1F21;
    font-weight: bold;
}
    
