.container {
  width: 100%;
  background-color: #020202;
  padding: 1rem 0;
  align-items: center;
}

.contentnewsletter {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  width: 758px;
  margin: auto;
}

.contentItens {
  display: flex;
  align-items: center;
  flex-direction: row;
  gap: 1rem;
}

.icone {
  width: 44px;
}

.texto {
  color: #FFF;
}

/* Campo de input com botão dentro */
.fields {
  position: relative;
  width: 500px;
}

.input {
  width: 100%;
  padding: 0.5rem 5rem 0.5rem 1rem; /* espaço à direita pro botão */
  font-size: 14px;
  border: 1px solid #ccc;
  border-radius: 2rem;
  outline: 0;
}

.btn {
  position: absolute;
  right: 8px;
  top: 50%;
  transform: translateY(-50%);
  background-color: #BB0715;
  border: none;
  font-size: 14px;
  cursor: pointer;
  color: #FFF;
  border-radius: 1rem;
  padding: 4px 1.5rem;
}

.textoPolitica {
  color: #FFF;
}

.checkboxPolitica {
  display: flex;
  flex-direction: row;
  margin-top: 0.5rem;
  gap: 0.5rem;
  font-size: 10px;
  margin-left: 1rem;
}

.linkPolitica {
  color: #fff;
}

/* Responsivo */
@media (max-width: 758px) {
  .container {
    margin-top: 2rem;
  }

  .fields {
    width: 90%;
  }

  .contentnewsletter {
    width: 100%;
    align-items: center;
    flex-direction: column;
  }

  .texto {
    font-size: 18px;
    width: 300px;
    text-align: center;
  }

  .btn {
    right: 23px;
    top: 19px;
  }

  .checkboxPolitica {
    margin-top: 1.5rem;
  }
  .input {
    padding: 0.6rem;
    width: 90%;
  }
}
