.containerDescricaoDetalhada {
    width: 1115px;
    display: flex;
    margin: auto;
    margin-top: 5rem;
    border: 1px solid #ADADAD;
    border-radius: 10px;
    padding: 2rem;
    box-sizing: border-box;
    flex-direction: column;
}
.containerDescricaoDetalhada h2 {
    font-size: 22px;
    font-weight: 700;
    text-align: left;
    margin-bottom: 2rem;
}
.containerDescricaoDetalhada p {
    font-size: 15px;
    text-align: left;
    margin-bottom: 2rem;
}
.hr {
    border: 1px solid #E5E5E5;   
}
.titleInformativo {
    font-size: 18px;
    margin-top: 1rem;
}
.containerCards {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    justify-content: space-between;
}
.card {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    justify-content: space-between;
    align-items: center;
    border: 1px solid #C5C5C5;
    padding: 1rem;
    border-radius: 10px;
    width: 44%;
    text-align: left;
    margin-bottom: 1rem;
}
.headerCard {
    display: flex;
    align-items: center;
    gap: 1rem;
}
.card img {
    width: 20px;
    height: 20px;
    object-fit: contain;
}
.spanCard {
    font-size: 13px;
    font-weight: 500;
}
.titleCard {
    font-size: 14px;
    font-weight: 500;
}
.containerAvaliacaoProduto {
    display: flex;
    gap: 1rem;
    flex-direction: column;
    margin-top: 2rem;
    border: 1px solid #ADADAD;
    width: 1115px;
    margin: auto;
    border-radius: 10px;
    margin-top: 2rem;
    margin-bottom: 6rem;
}
.headerAvaliacaoProduto {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: auto;
    box-sizing: border-box;
    align-items: center;
    gap: 1rem;
    padding: 1rem;
    width: 100%;
}
.containerStars {
    display: flex;
    flex-direction: row;
    gap: 0.3rem;
}
.starCinza {
    color: #E0E0E0;
    cursor: pointer;
}
.containerComentarios {
    display: flex;
    padding: 1rem;
}
.containerAvaliacoesBtn { 
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    border: 1px solid #ADADAD;
    padding: 8px;
    width: 220px;
    border-radius: 10px;
    margin: auto;
    font-weight: 500;
    margin-bottom: 2rem;
    cursor: pointer;
}
.avaliarProduto {
    font-size: 13px;
}

@media (max-width: 767px) {
    .containerDescricaoDetalhada {
        width: 90%;
        
        padding: 1rem;
        box-sizing: border-box;
    }
    .containerCards {
        flex-direction: column;
    }
}