.container {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 560px;
    align-items: center;
}
.containerDetalhes {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    border: 1px solid #ADADAD;
    border-radius: 10px;
    padding: 2rem 1rem;
}
.btnCadastrar {
    background-color: #FFF;
    border: 0.2px solid #ADADAD;
    padding: 1.2rem;
    border-radius: 10px;
    cursor: pointer;
    width: 100%;
    font-weight: 700;
    font-size: 14px;
}

.Header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 1rem;
}
.social {
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
}
.tituloProduto {
    color: #707070;
    line-height: 2.3rem;
    font-weight: 300;
}
.tituloProduto > h1 {
    font-weight: 500;
    line-height: 1.7rem;
    font-size: 18px;
    
}
.containerMaisDetalhes > .texto {
    text-decoration: underline;
    color: #707070;
    font-weight: 500;
    cursor: pointer;
}
.containerMaisDetalhes > .mais { 
    color: #707070;
    font-weight: 500;
    cursor: pointer;
}
.containerAvaliacaoCategoria {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.stars > CiStar{
    cursor: pointer;
}
.categoria {
    border: 2px solid #ADADAD;
    border-radius: 0.6rem;
    padding: 10px 2rem;
    color: #ADADAD;
    font-weight: 700;
}
.entreguePor {
    margin-top: 1rem;
    margin-bottom: 1rem;
}
.entreguePor > span {
    font-weight: 700;
    font-size: 13px;
}
.star {
    cursor: pointer;
}
.iconSac {
    width: 60px;
}
.containerDuvida {
    display: flex;
    flex-direction: row;
    border: 1px solid #CCC;
    width: 100%;
    align-items: center;
    padding: 2rem;
    box-sizing: border-box;
    gap: 1rem;
    justify-content: center;
    border-radius: 10px;
}
.textos {
    display: flex;
    flex-direction: column;
    line-height: 1.4rem;
    margin-top: .5rem;
}
.linkCanalSuporte {
    text-decoration: underline;
    color: #2680EA;
    font-weight: 600;
}

@media (max-width: 599px){ 
    .container { 
        width: 100%;
    }
    .btnCadastrar {
        width: 90%;
        margin: auto;
    }
    .containerDetalhes { 
        width: 100%;
        margin: auto;
        padding: 2rem 1.5rem;
        box-sizing: border-box;
        box-shadow: 0px -10px 20px 0px rgba(0,0,0,0.1),0px 6px 15px -3px rgba(0,0,0,0.1);
        border: 0;
        border-top-left-radius: 2rem;
        border-top-right-radius: 2rem;
        margin-top: 1rem;
    }
    .containerDuvida {
        width: 100%;
        box-sizing: border-box;
        margin: auto;
        padding: 1rem 0;
        height: 90px;
    }
    .containerDuvidaTexto {
        display: flex;
        flex-direction: column;
        gap: -1px;
    }
    .iconSac {
        width: 50px;
    }
    .textos > span {
        font-weight: 300;
        font-size: 14px;
    }
}