.container {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 560px;
    align-items: center;
}
.containerDetalhes {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    border: 1px solid #ADADAD;
    border-radius: 10px;
    padding: 2rem 1rem;
}
.btnCadastrar {
    background-color: #FFF;
    border: 0.2px solid #ADADAD;
    padding: 1.2rem;
    border-radius: 10px;
    cursor: pointer;
    width: 100%;
    font-weight: 700;
    font-size: 14px;
}

.Header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 1rem;
}
.Header > span { 
    font-size: 0.7rem;
}
.social {
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
}
.tituloProduto {
    color: #707070;
    font-weight: 300;
}
.tituloProduto > h1 {
    font-weight: 500;
    line-height: 1.2rem;
    font-size: 16px;
    
}
.containerMaisDetalhes > .texto {
    text-decoration: underline;
    color: #707070;
    font-weight: 500;
    cursor: pointer;
    font-size: 13px;
}
.containerMaisDetalhes > .mais { 
    color: #707070;
    font-weight: 500;
    cursor: pointer;
}
.containerAvaliacaoCategoria {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.stars > CiStar{
    cursor: pointer;
}
.categoria {
    border: 2px solid #ADADAD;
    border-radius: 0.6rem;
    padding: 10px 2rem;
    color: #ADADAD;
    font-weight: 700;
}
.entreguePor {
    margin-top: 1rem;
    margin-bottom: 1rem;
}
.entreguePor > span {
    font-weight: 700;
    font-size: 13px;
}
.star {
    cursor: pointer;
}
.iconSac {
    width: 60px;
}
.containerDuvida {
    display: flex;
    flex-direction: row;
    border: 1px solid #CCC;
    width: 100%;
    align-items: center;
    padding: 2rem;
    box-sizing: border-box;
    gap: 1rem;
    justify-content: center;
    border-radius: 10px;
}
.containerDuvidaTexto > .textos {
    display: flex;
    flex-direction: column;
}
.linkCanalSuporte {
    text-decoration: underline;
    color: #2680EA;
    font-weight: 600;
}

.precoEstoque {
    display: flex;
    justify-content: space-between;
    margin-top: 1rem;
    align-items: start;
}

.precos {
    display: flex;
    flex-direction: column;
}
.precoAntigo {
    color: #707070;
    text-decoration: line-through;
}
.precoDesconto {
    font-weight: 800;
    color: #707070;
    font-size: 34px;
    margin-top: 0.5rem;
}
.desconto {
    background-color: #AE1F21;
    padding: 10px 2rem;
    border-radius: 10px;
    color: #FFF;
    font-weight: 600;
    font-size: 13px;
}
.estoqueRestante {
    background-color: #F7E9E9;
    font-size: 15px;
    padding: 10px 2rem;
    border-radius: 10px;
    display: flex;
    align-items: center;
    gap: 5px;
}

.fogueira {
    width: 20px;
    height: auto;
}
.containerRight {
    display: flex;
    align-items: center;
    gap: 1.2rem;
}

.textos {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 11px;
    color: #707070;
}
.textos > .naoSeiMeuCEP { 
    text-decoration: underline;
    cursor: pointer;
}

.input {
    width: 80%;
    padding: 0.8rem 0;
    border: 1px solid #ccc;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
    outline: none;
    color: #707070;
    padding: 0 1rem;

}
.btnCalcular {
    border: none;
    padding: 0.8rem 1rem;
    background-color: #55565A;
    border: 1px solid #55565A;
    font-weight: 500;
    color: #FFF;
    width: 20%;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    cursor: pointer;
}
.containerInput {
    display: flex;
    margin-top: 0.6rem;
}

.cardsSedexFob {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap:1rem;
    width: 100%;
}
.cardsSedexFob img {
    width: 50px;
}
.fob {
    border: 1px solid #CCC;
    width: 50%;
    border-radius: 10px;
    padding: 2rem;
    display: flex;
    gap: 1rem;
    align-items: center;
}

.fob p {
    font-weight: bold;
}
.fob span {
    font-weight: 100;
    font-size: 12px;
}

.sedex {
    display: flex;
    align-items: center;
    gap: 1rem;
    border: 1px solid #CCC;    
    padding: 2rem;
    border-radius: 10px;
    width: 50%;
}
.sedex p {
    font-weight: bold;
}
.sedex span {
    font-weight: 100;
    font-size: 12px;
}

@media (max-width: 599px){
    .container { 
        width: 100%;
    }
    .btnCadastrar {
        width: 90%;
        margin: auto;
    }
    .containerDetalhes { 
        width: 100%;
        margin: auto;
        padding: 2rem 1.5rem;
        box-sizing: border-box;
        box-shadow: 0px -10px 20px 0px rgba(0,0,0,0.1),0px 6px 15px -3px rgba(0,0,0,0.1);
        border: 0;
        border-top-left-radius: 2rem;
        border-top-right-radius: 2rem;
        margin-top: 1rem;
    }
    .containerDuvida {
        width: 100%;
        box-sizing: border-box;
        margin: auto;
        padding: 1rem 2rem;
        height: 90px;
    }
    .contentTexto {
        display: flex;
        flex-direction: column;
    }
    .contentTexto > .textos { 
        flex-direction: column;
    }
    .containerDuvidaTexto {
        display: flex;
        flex-direction: column;
        gap: -1px;
    }
    .iconSac {
        width: 50px;
    }
    .textos > span {
        font-weight: 300;
        font-size: 13px;
    }
    .textos .title {
        font-weight: bold;
    }
    .precoEstoque {
        flex-direction: column-reverse;
        margin-top: 1rem;
    }
    .precos {
        margin-top: 1.5rem;
    }
    .fob {
        flex-direction: row;
        padding: 5px 0.3rem;
    }
    .sedex {
        flex-direction: row;
        text-align: left;
        padding: 5px 0.3rem;
    }
    .cardsSedexFob img {
        width: 30px;
    }
    .cardsSedexFob p {
        font-size: 12px;
    }
    .cardsSedexFob span {
        font-size: 12px;
    }
    
}