.links {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    align-items: center;
}
.links > li {
    color: #FFF;
    cursor: pointer;
    font-size: 13px;
}
.noClick {
    cursor: default;
}
.icon {
    width: 18px;
    height: auto;
}
.itemIcon {
    display: flex;
    flex-direction: row;
    gap: 8px;
    align-items: center;
}

@media (max-width: 599px) {
    .links {
        display: none;
    }
}

@media (min-width: 600px) and (max-width: 1024px) {
  /* Estilos para tablets */
  .links {
    gap: 0.5rem;
  }
  .links > li {
    font-size: 10px;
  }
  .icon {
    width: 16px;
  }
}
