.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
}

.imagemPrincipalWrapper {
  position: relative;
  width: 540px;
  height: auto;
}

.imagemProduto {
  width: 100%;
  height: 100%;
  object-fit: contain;
  border-radius: 8px;
  border: 1px solid #ccc;
  padding: 4rem;
  box-sizing: border-box;
}

.seta {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: none;
  border: none;
  cursor: pointer;
  z-index: 1;
}

.arrowLeft, .arrowRight {
  width: 50px;
}

.seta:first-of-type {
  left: -42px;
}

.seta:last-of-type {
  right: -42px;
}

.miniaturas {
  display: flex;
  gap: 12px;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 100%;
  box-sizing: border-box;
}

.miniatura {
  width: 122px;
  box-sizing: border-box;
  height: auto;
  padding: 1rem;
  margin-top: 1rem;
  object-fit: contain;
  border: 2px solid transparent;
  cursor: pointer;
  border-radius: 6px;
  transition: border 0.3s ease;
  border: 1px solid #ADADAD;
}

.ativo {
  border-color: #333;
}
