.container {
    width: 758px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: auto;
    gap: 2rem;
    padding: 2rem 0;
    align-items: center;
}
.logo {
    width: 216px;
    height: 50px;
}
.hr {
    width: 28%;               /* Garante que ocupe toda a largura */
    height: 1px;               /* Espessura da linha */
    background-color: #707070; /* Cor desejada */
    border: none;              /* Remove borda padrão */
    margin: 2rem 0;   
}
.containerLinks {
    display: flex;
    flex-direction: row;
    align-items: start;
    width: 758px;
    margin: auto;
    gap: 4rem;
}
.listaLinks { 
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    
}
.listaLinks > li > a { 
    text-decoration: none;
    color: #707070;
    font-size: 14px;
}
.titleList {
    color: #707070;
    font-size: 18px;
    font-weight: 500;
}
.icones {
    display: flex;
    flex-direction: row;
    gap: .5rem;
}

.icones > a > img { 
    width: 35px;
}
.sac {
    width: 45px;
    cursor: pointer;
}
.formasPagamento {
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: #262626;
    padding: 1rem;
    justify-content: center;
    margin: auto;
    gap: 1rem;
    margin-top: 4rem;
}
.titleFormasPagamento {
    color: #FFF;
    font-size: 18px;
}
.bandeirasPagamento {
    display: flex;
    flex-direction: row;
    gap: .5rem;
}
.bandeirasPagamento > img {
    width: 45px;
}
.containerCopyright {
    display: flex;    
    width: 100%;
    justify-content: space-around;
    margin: auto;
    flex-direction: row;
    align-items: center;
    padding: 1rem 0rem;
    background-color: #000;
    color: #FFF;
    font-size: 12px;;
}
.copyright {
    display: flex;
    flex-direction: row;
    width: 1290px;
    align-items: center;
    gap: 5rem;
    justify-content: space-around;
    margin: auto;
}.parceiros {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2px;
}
.logos > img {
    width: 40px;
}

@media (max-width: 599px) {
    .hr {
        width: 60px;
    }
    .container {
        width: 100%;
    }
    .containerLinks {
        flex-direction: column;
        justify-content: space-between;
        width: 100%;
        gap: 1rem;
    }
    .accordionHeader {
        display: flex;
        justify-content: space-between;
        flex-direction: row;
        text-align: center;
        padding: 0 1rem;
        padding: 1rem;
        border-bottom: 2px solid #DDD;
        color: #7A7A7A;
        font-weight: 600;
    }
    .listaLinks {
        width: -webkit-fill-available;
    }
    .listaLinks > li > a {
        display: flex;
        flex-direction: column;
        gap: 1px;
        border-bottom: 1px solid #f1f1f1;
    }
    .accordionHeader > button {
        border: none;
        background: none;
        font-size: 22px;
        font-weight: 300;
    }
    .containerItens > li > a {
        padding: 0.5rem 1rem;
    }
    
    .formasPagamento {
        flex-direction: column;
        margin-top: 0rem;
    }
    .titleFormasPagamento {
        font-size: 13px;
    }
    .copyright {
        width: 100%;
        flex-direction: row;
        align-items: center;
        padding: 0 1rem;
    }
    .logos {
        display: flex;
        flex-direction: row;
        align-items: center;
    }
    .nossasRedes {
        display: flex;
        flex-direction: row;
        align-items: center;
        border: 0;
        background-color: #262626;
        padding: 1rem 0rem;
        width: 100%;
        justify-content: space-between;
    }
    
     .nossasRedes > li.icones > a  {
        border: 0 !important;
    }
    .icones {
        padding: 0 1rem;
    }
    .icones > a {
        border: 0;
    }
    .icones > a > img {
        width: 40px;
    }
    .listaLinks > li > a {
        border-bottom: 1px solid #f1f1f1;
    }
    .titleList {
        font-size: 17px;
        color: #FFF;
        padding: 0 1rem;
        font-weight: 600;
    }
}

@media (min-width: 600px) and (max-width: 1024px) {
    /* Estilos para tablets */
    .containerLinks {
        width: 97%;
        
    }
}