.container {
    display: flex;
    flex-direction: row;
    gap: 1rem;
}

.container > img {
    width: 22px;
    cursor: pointer;
}

@media (max-width: 767px){
    .container > img {
        width: 31px;
        margin-top: 0.3rem;
        margin-bottom: 0.6rem;
    }
}

@media (max-width: 767px) {
    .container > img {
      width: auto !important;
      height: 26px;
    }
}

