.containerImagens {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: auto;
}

.containerImagens > img {
    width: 270px;
    height: auto;
    cursor: pointer;
}

@media (max-width: 600) {
    .item {
        width: 100%; /* ocupa 100% da largura do carrossel */
        height: auto;
        object-fit: contain;
    }
    .containerImagens > img { 
        width: 200px;
    }

}