* {
    margin: 0;
    padding: 0;
}

ul {
    list-style: none;
}

@media (max-width: 599px) {
    main.menuAberto, .content.menuAberto, .container.menuAberto {
        filter: blur(4vw);
        overflow: hidden;
        transition: filter 0.3s ease;
        z-index: -1;
    }
}