.categoria {
    margin-bottom: 6rem;
}

.container {
    width: 1290px;
    padding: 1.5rem;
    display: flex;
    margin: auto;
    justify-content: space-around;
    box-sizing: border-box;
}
.containerTitle {
    width: 1290px;
    display: flex;
    margin: auto;
    align-items: center;
    gap: 1rem;
    margin-left: 2rem;
    font-size: 12px;
}

.containerProdutos {
    display: flex;
    width: 1150px;
    box-sizing: border-box;
    margin: auto;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: flex-start;
    flex-direction: row;
}

.contentProdutos {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    gap: 1rem;
}

.cardProduto {
    border: 1px solid #ADADAD;
    width: 270px;
    border-radius: 10px;
    box-sizing: border-box;
    padding: 1rem;
}
.headerProduto {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.descontoProduto > span {
    background-color: #AE1F21;
    color: #FFF;
    font-weight: 600;
    padding: 0.4rem;
    border-radius: 10px;
    font-size: 13px;
}

.imagemProduto {
    display: flex;
    justify-content: center;
    align-items: center;
}

.imagemProduto > img {
    width: 90%;
    height: 100%;
    object-fit: cover;
    box-sizing: border-box;
    padding: 1rem;
}
.imagemProduto {
    width: 100%;
}
.referenciaProduto {
    display: flex;
    justify-content: end;
    align-items: center;
    padding: 1rem;
}
.referenciaProduto > span {
    font-size: 12px;
    font-weight: 400;

}

.tituloProduto {
    display: flex;
    justify-content: start;
    align-items: center;
    padding: 1rem;
    margin-top: -20px;;
}
.tituloProduto > span {
    font-size: 18px;
    font-weight: 400;
    color: #000;
    text-align: justify;
}
.estrelasProduto {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    margin-top: -20px;
}
.estrelasProduto > svg {
    margin-right: 0.5rem;
}

.containerPrecoProduto {
    display: flex;
    margin: auto;
    flex-direction: column;
}
.precoAtualProduto {
    font-size: 22px;
    color: #AE1F21;
    font-weight: 700;
}
.antigoPrecoProduto {
    font-size: 18px;
    color: #ADADAD;
    font-weight: 400;
}
.antigoPrecoProduto {
    color: #959595;
}
.addBtn {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    gap: 0.6rem;
    box-sizing: border-box;
    margin-top: 1rem;
    margin-bottom: 1.5rem;
}
.adicionarProduto {
    display: flex;
    gap: 0;
    border: 1px solid #ADADAD;
    border-radius: 10px;
    flex-direction: row;
    align-items: center;
    width: 80%;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    font-size: 16px;
    height: 37px;

}
.adicionarProduto > button {
    border: 0;
    background: none;
    font-size: 18px;
    color: #707070;
    padding: 0.5rem;
    width: 90%;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}
.comprarProduto {
    width: 90%;
}
.comprarProduto > button {
    background-color: #59BC4C;
    border: none;
    padding: 0.5rem 1rem;
    box-sizing: border-box;
    color: #FFF;
    width: 100%;
    font-size: 16px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    height: 38px;
}

.containerVerMais {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
    margin: auto;
    margin-top: 2rem;
}

.containerVerMais > button {
    background-color: #55565A;
    border: 1px solid #707070;
    padding: 0.5rem 1rem;
    box-sizing: border-box;
    color: #FFF;
    border-radius: 6px;
    margin: auto;
    width: 180px;
    font-size: 16px;
    height: 45px;
    cursor: pointer;
}

@media (max-width: 599px) {
    .containerTitle {
        margin-left: 0;
    }
    .container {
        width: auto;
    }
    .containerProdutos {
        box-sizing: border-box;
        width: auto;
        display: flex;
        flex-wrap:wrap;
    }
    .cardProduto {
        border-radius: 1.8rem;
        width: 200px;
    }
    .contentProdutos {
        justify-content: center;
    }
    .tituloProduto > span {
        font-size: 12px;
    }
    .estrelasProduto > svg { 
        font-size: 14px;
    }
}